<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <description>If true, the stack trace is included with error responses</description>
        <param-name>debug</param-name>
        <param-value>true</param-value>
    </context-param>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <security-constraint>
        <display-name>Constraint1</display-name>
        <web-resource-collection>
            <web-resource-name>REST</web-resource-name>
            <description/>
            <url-pattern>/api/person/*</url-pattern>
        </web-resource-collection>
    </security-constraint>
    <security-constraint>
        <display-name>SSL on ALL</display-name>
        <web-resource-collection>
            <web-resource-name>SSL on ALL</web-resource-name>
            <description/>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
    </security-constraint>
    <security-role>
        <description/>
        <role-name>role1</role-name>
    </security-role>
</web-app>
